<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<!-- <p>
  <% @restaurant.reviews.each do |review| %>
    <li><%= link_to review.content,  %></li>
</p> -->

<%= link_to "Add a review" %>
